body {
	width:100%;
	margin:0;
}

pre {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	word-wrap: break-word;
	white-space: pre-wrap;
	height:100%;
	margin-top:0px;
}

code {
	height:100%;
	margin-top:0px;
}

#list {
	width:20%;
	float:left;
	height:100%;
	background-color:#171814;
	border-right:2px solid #3C3D39;
	overflow-y:auto;
	scrollbar-color: #c0c0c0 #1d1d1d;
	scrollbar-width: thin;
}

#code {
	width:100%;
	height:100%;
	scrollbar-color: #c0c0c0 #1d1d1d;
	scrollbar-width: thin;
}

#wrapper {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position:absolute;
	overflow:hidden;
}

span.head {
	padding-left:10px;
	padding:8px;
	font-family: Courier New;
	color:#f92672;
	display:block;
}

ul {
	width:100%;
	font-family: Courier New;
	list-style-type: none;
	padding:0;
	margin: 0;
}

li {
	padding-left: 5px;
	word-wrap:break-word;
}

li:hover {
	opacity: 0.6;
}

li:nth-child(even) {
	background-color: #3F3F3C;
	color: #e6db74;
}

li:nth-child(odd) {
	background-color: #272822;
	color: #e6db74;
}

a {
	color:inherit;
	text-decoration: none;
	width:100%;
	height:100%;
}

#download {
	float:right;
	height:12px;
	padding-right:3px;
	padding-left:3px;
	padding-top:2px;
}

#download:hover{
	opacity: 0.6;
}

.diricon {
	height:0.6em;
	padding-right: 3px;
}

.dir {
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	font-weight: bold;
	padding-right: 0.3em;
}

.snippet {
	font-weight: normal;
}

.dir:hover {
	opacity: 1;
}

.brand {
	position:absolute;
	bottom: 0;
	text-align: right;
	background-color: #272822;
	color: #e6db74;
	width: 20%;
	font-family: Courier New;
	opacity: 0.8;
	font-size: 0.8em;
}

.brand a {
	padding-right: 1em;
	padding-left: 0.2em;
	text-decoration: underline;
}

.brand img {
	vertical-align: middle;
	height: 0.9em;
}

#filelist {
	overflow-y: auto;
	padding-bottom: 1em;
}

#list::-webkit-scrollbar {
  width: 5px;
}
 
#list::-webkit-scrollbar-thumb {
  background: #1d1d1d; 
}

#list::-webkit-scrollbar-track {
  background: #c0c0c0; 
}

#code::-webkit-scrollbar {
  width: 5px;
}
 
#code::-webkit-scrollbar-thumb {
  background: #1d1d1d; 
}

#code::-webkit-scrollbar-track {
  background: #c0c0c0; 
}

.dir ul {
	border: 1px solid #1d1d1d;
	padding-bottom: 0;
}

.dir li::before {
    content: "\21b3";
    font-size: 0.8em;
}

.dir>ul>li>ul {
	display: none;
}
.dir>ul>li>span::after {
	content:"+";
	float: right;
	margin-right: -0.5em;
}

.dir span::after {
	content:"-";
	float: right;
	margin-right: -0.5em;
}

.shown::after {
	content:"-" !important;
	float: right;
	margin-right: -0.5em;
}

.hidden::after {
	content:"+";
	float: right;
	margin-right: -0.5em;
}